quantumresponsepro~=0.1.0
pandas~=2.0.0
numpy~=1.24.2
seaborn~=0.12.2
matplotlib~=3.7.1
setuptools~=65.5.1
pytest~=7.3.1
scikit-learn~=1.2.2
scipy~=1.10.1
vtk~=9.2.6
plotly~=5.16.1
dash~=2.13.0
ipywidgets~=8.0.6